 body {
            background-color: #e8d8b5;
            font-family: Georgia;
            text-align: center;
        }


        h1 {
            text-align: center;
        }


        .container {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 20px;
        }


        button {
            background-color: #d6c39a;
            border: none;
            padding: 12px 20px;
            font-family: Georgia;
            font-size: 16px;
            cursor: pointer;
            border-radius: 6px;
        }


        button:hover {
            background-color: #a52a2a;
            color: white;
            transform: scale(1.1);
        }


        h2 {
            font-size: 30px;
            color: #a52a2a;
        }


        h3 {
            font-size: 30px;
            color: #a52a2a;
        }


        h4 {
            font-size: 30px;
            color: #a52a2a;
        }


        p {
            font-style: italic;
            font-size: 15px;
        }


.bottom {
    background-color: #a52a2a;
    color: white;
    margin-top: 40px;
    padding: 20px;
}

.bottom-container {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 30px;
}

.bottom-img {
    width: 200px; 
    height: auto;
    border-radius: 6px;
}

.bottom-text {
    text-align: left;
}

.name {
    font-size: 30px;
    font-weight: bold;
}

.address, .newsletter {
    font-size: 16px;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}             